@page "/barcodereader"
@inject IJSRuntime JSRuntime

@if (initialized == false)
{
    <p>Initializing...</p>
}
else
{
    <button class="btn btn-primary" @onclick="ReadBarcodes">Read Barcodes from Files</button>
    <button class="btn btn-primary" @onclick="LiveScan">Live Scan</button>
    <p style="color:green;font-style:italic">@result</p>
}



@code { 
    String result = "";
    Boolean initialized = false;

    // https://stackoverflow.com/questions/59084133/calling-an-instance-method-in-a-razor-page-from-javascript
    protected override void OnInitialized()
    {
        Init();
    }

    public async void Init()
    {
        initialized = await JSRuntime.InvokeAsync<Boolean>("jsFunctions.init", DotNetObjectReference.Create(this));
        StateHasChanged();
    }

    public async Task ReadBarcodes()
    {
        await JSRuntime.InvokeVoidAsync(
                "jsFunctions.selectFile");
    }

    public async Task LiveScan()
    {
        await JSRuntime.InvokeVoidAsync(
                "jsFunctions.liveScan");
    }

    [JSInvokable]
    public void ReturnBarcodeResultsAsync(String text)
    {
        result = text;
        StateHasChanged();
    }

}
