#imageview {
    position: relative;
    width: 40vw;
}

#image {
    position: relative;
    width: 100%;
    height: 100%; 
    display: none;
}

.p-result {
    color: red;
    font-style: italic;
}